<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>advantages Section</title>

    <link rel="stylesheet" href="../assets/css/advantages.css">
    
</head>
<body> 
<section class="advantages">
        <div class="container">
            <h2 class="advantages-main-title">Lorem ipsum</h2>
            
            <div class="advantages-grid">
                
                <div class="advantage-card">
                    <img src="assets/images/advantages/hardware_cycles_cloud.png" alt="Ícone de Ciclos de Hardware" class="advantage-icon-img">
                    <h3 class="advantage-title">Lorem ipsum</h3>
                    <p class="advantage-text">
                        Lorem ipsum dolor sit amet,<br> 
                        consetetur sadipscing elitr, sed <br> 
                        diam nonumy eirmod tempor 
                    </p>
                </div>

                <div class="advantage-card">
                    <img src="assets/images/advantages/hardware_cloud.png" alt="hardware na nuvem" class="advantage-icon-img">
                    <h3 class="advantage-title">Lorem ipsum dolor sit<br>  amet, consetetur</h3>
                    <p class="advantage-text">
                        Lorem ipsum dolor sit amet,<br>  
                        consetetur sadipscing elitr, sed diam<br> 
                        nonumy eirmod tempor invidunt ut
                    </p>
                </div>

                <div class="advantage-card">
                    <img src="assets/images/advantages/hardware_cycles_cloud.png" alt="Ícone de Ciclos de Hardware" class="advantage-icon-img">
                    <h3 class="advantage-title">Lorem ipsum dolor sit<br>  amet, consetetur</h3>
                    <p class="advantage-text">
                        Lorem ipsum dolor sit amet, consetetur<br> 
                         sadipscing elitr, sed diam nonumy
                    </p>
                </div>

                <div class="advantage-card">
                    <img src="assets/images/advantages/manager_user.png" alt="Ícone de Ciclos de Hardware" class="advantage-icon-img">
                    <h3 class="advantage-title">Lorem ipsum dolor sit amet</h3>
                    <p class="advantage-text">
                        Lorem ipsum dolor sit amet, <br> 
                        consetetur sadipscing elitr sed diam nonumy <br> 
                        tempor invidunt ut labore et dolore
                    </p>
                </div>

            </div>
        </div>
    </section>
</body>
</html>   