<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>features Section</title>

    <link rel="stylesheet" href="../assets/css/features.css">
    
</head>
<body> 
    <section class="features">
        <div class="container features-content">
            
            <div class="features-left">
                <h2 class="features-title">
                    Lorem ipsum dolor sit <br>
                    amet, consetetur <br>
                    sadipscing elitr, sed diam
                </h2>
                
                <p class="features-text">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam 
                    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam 
                    erat, sed diam voluptua. At vero eos et accusam et justo duo dolores 
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est 
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                </p>
            </div>

            <div class="features-right">
                <div class="imgGraph"></div>
            </div>

        </div>
    </section>
</body>
</html>    