<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer Section</title>

    <link rel="stylesheet" href="../assets/css/footer.css">
    
</head>
<body> 
<section class="cta-footer">
        <div class="container cta-content">
            
            <h2 class="cta-title">Lorem ipsum</h2>
            
            <a href="#" class="btn-primary">SIGN UP FOR FREE</a>
            
        </div>
    </section>
</body>
</html>

    