<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Section</title>

    <link rel="stylesheet" href="../assets/css/hero.css">
    
</head>
<body>

<!-- HEADER -->
    <header class="header">
        <div class="container">
            <div class="header-left">
                <div class="logo sprite sprite-logo"></div>

                <h1 class="header-title">Interview</h1>
            </div>
        </div>
    </header>

    <!-- HERO SECTION -->
    <section class="hero">
        <div class="container hero-content">

            <div class="hero-left">
                <h2 class="hero-title">
                    Lorem ipsum dolor sit amet,<br>
                    consetetur sadipscing elitr,<br>
                    sed diam nonumy eirmod
                </h2>

                <p class="hero-subtitle">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr,<br>
                    sed diam nonumy eirmod tempor invidunt ut labore et
                    dolore magna aliquyam erat, sed diam voluptua. At vero
                </p>

                <a href="#" class="btn-primary">SIGN UP FOR FREE</a>
            </div>

            <div class="hero-right">
                <div class="white-square">
                    <img src="../assets/images/hero/graphic.png" alt="Ícone A" class="square-image">
                </div>
                <div class="plus-button"><span class="plus-icon"></span></div>
                <div class="white-square">
                    <img src="../assets/images/hero/bloc.png" alt="Ícone B" class="square-image">
                </div>
            </div>

        </div>
    </section>
    </body>
</html>