<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testimonial Section</title>

    <link rel="stylesheet" href="../assets/css/testimonial.css">
    
</head>
<body> 
 <section class="testimonial-section">
        <div class="container">
            <div class="testimonial-card">
                <div class="quotes-icon">“</div>
                <div class="quotes-icon-right">”</div>

                <p class="testimonial-text">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                    ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                    duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                    dolor sit amet. Lorem ipsum dolor sit amet, 
                </p>

                <div class="client-info">
                    <div class="client-avatar"></div> 
                    <p class="client-name">
                        Lorem ipsum dolor sit amet,<br>
                        consetetur sadipscing elitr
                    </p>
                    <a href="#" class="learn-more-link">LEARN MORE</a>
                </div>
            </div>
            <div class="testimonial-card">
                <div class="quotes-icon">“</div>
                <div class="quotes-icon-right">”</div>

                <p class="testimonial-text">
                    segundo, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                    ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                    duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                    dolor sit amet. Lorem ipsum dolor sit amet, 
                </p>

                <div class="client-info">
                    <div class="client-avatar"></div> 
                    <p class="client-name">
                        Lorem ipsum dolor sit amet,<br>
                        consetetur sadipscing elitr
                    </p>
                    <a href="#" class="learn-more-link">LEARN MORE</a>
                </div>
            </div>
            <div class="testimonial-card">
                <div class="quotes-icon">“</div>
                <div class="quotes-icon-right">”</div>

                <p class="testimonial-text">
                    terceiro dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                    ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                    duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                    dolor sit amet. Lorem ipsum dolor sit amet, 
                </p>

                <div class="client-info">
                    <div class="client-avatar"></div> 
                    <p class="client-name">
                        Lorem ipsum dolor sit amet,<br>
                        consetetur sadipscing elitr
                    </p>
                    <a href="#" class="learn-more-link">LEARN MORE</a>
                </div>
            </div>
            <div class="slider-dots">
                    <span class="dot active"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
        </div>
    </section>

    <script src="assets/js/testimonial.js"></script>

    </body>
</html>