
.cta-footer {
    width: 100%; 
    background: linear-gradient(90deg, #0019c8, #0863e6);  
    padding: 80px 0; 
    
    color: white;
    text-align: center;
}

.cta-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cta-title {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 1.2;
}